@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply 
    hover:bg-gradient-to-r from-purple-400 via-pink-500 to-red-500
    hover:text-gray-50
    w-full 
    flex 
    inline-flex
    justify-between border 
    border-indigo-700
    rounded-sm
    p-2
    shadow-xl
    
    focus:outline-none focus:bg-gradient-to-r from-purple-400 via-pink-500 to-red-500
    focus:text-gray-50;
}

.bg-cards {
  @apply shadow-2xl;
}